<template>
  <div id="app">
    <div>
      <letter :letter-value="firstLetter"
              @click.native="getLetter('firstLetter')"/>
      <letter :letter-value="secondLetter"
              @click.native="getLetter('secondLetter')"/>
    </div>
    <word :word-text="wordQueryText"/>
  </div>
</template>

<script>
  import Word from '../components/Word';
  import Letter from '../components/Letter';

  export default {
    name: 'App',
    components: {
      Word,
      Letter
    },
    data() {
      return {
        firstLetter: '',
        secondLetter: '',
      }
    },
    computed: {
      wordQueryText() {
        return this.$store.getters.getCurrentText;
      }
    },
    methods: {
      getLetter(key) {
        this.$store.commit('incrementCounter');
        let letterIndex = this.$store.getters.getCounter;
        this.wordQueryText;
        this.$data[key] = this.wordQueryText[letterIndex];
      },
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        vm.$store.commit('setCurrentText', to.query.word);
      });
    },
    beforeRouteUpdate(to, from, next) {
      this.$data.firstLetter = '';
      this.$data.secondLetter = '';
      this.$store.commit('setCurrentText', to.query.word);
      next();
    },
  }
</script>
<style scoped>
  div {
    margin-bottom: 5px;
  }
</style>
