<template>
  <div>
    {{ currentLetterValue }}
  </div>
</template>

<script>
	export default {
		name: "Letter",
    props: {
      letterValue: {
        default: ' ',
        type: String
      }
    },
    computed: {
      currentLetterValue() {
        return this.$props.letterValue
      }
    }
	}
</script>

<style scoped>
  div {
    display: inline-flex;
    font-size: 16px;
    padding: 5px 3px 2px 4px;
    border: 1px solid #000;
    width: 12px;
    height: 18px;
    margin-right: 1px;
    vertical-align: bottom;
  }
</style>
