<template>
  <div>
    <Letter v-for="(text, index) in wordText"
            :key="index"
            :letter-value="text"/>
  </div>
</template>

<script>
  import Letter from './Letter';

	export default {
		name: 'Word',
    components: {
      Letter
    },
    props: {
		  wordText: {
		    default: '',
		    type: String
      }
    },
	}
</script>

<style scoped>
  div {
    margin-bottom: 5px;
  }
</style>
